*{

  margin:0;padding:0;

}

html{

  --text: #2a2a2a;
  --bg:   #fefefe;

  --inactive: #ddd;
  --primary: #17AC10;

  --padding: 2rem;
  --padding-section: calc( var(--padding) * 1.25 );
  --padding-lite: calc( var(--padding) * 0.25 );

}

body{

  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height:1.5;
  font-weight: bold;

  color: var(--text);

}

@media screen and ( max-width: 800px ){
  body{
    font-size: 9pt;
  }
}

a, a:link, a:active, a:visited{
  color: var(--text);
  text-decoration:none;
  border-bottom:2px solid var(--inactive);
}
a:hover{
  color: var(--primary);
  border-bottom-color: var(--primary);
}

a.pill{
  display:inline-block;
  border: 2px solid var(--inactive);
  padding:calc(var(--padding-lite) * 0.5 ) calc( var(--padding) * 0.5);
  border-radius: 20px;
}
a.pill:hover{
  background: var(--primary);
  color: var(--bg);
  border-color: var(--primary);
}

p{
  padding-bottom:1em;
  max-width:45em;
}

@media screen and (min-width:800){
  p{
    max-width:30em;
  }
}

nav{
  padding: var(--padding-section);
}
nav ul{
  display:inline-block;
  list-style:none;
}
nav ul li{
  display:inline-block;
}
nav ul li a{
  border:0!important;
  margin:0 var(--padding) 0 0;
}

header{
  margin: 0 var(--padding);

  min-height:50vh;

  position:relative;

}

header h1{
  /* display:none; */

  padding-top:10vh;
  font-size: 2rem;
  font-weight:bold;

  line-height:1.1;
  /* text-transform:lowercase; */
  font-style: italic;
  padding-bottom:1rem;

  width:40%;

  /* color:rgba(0,0,0,0.0)!important; */
  /* -webkit-text-stroke: 2px black; */
}

header::after{

  display:block;
  content:'\00a0';
  z-index:-1;

  position:absolute;
  top:0;right:0;

  width:55%;height:100%;

  background-image:url('../img/window-edited.jpg');
  background-position:center;
  background-size:cover;

}

section{
  padding: var(--padding-section);
}

section h2{
  display:inline-block;
  border-top:2px solid var(--text);
  padding:var(--padding-lite) 0 var(--padding) 0;
}

@media screen and ( min-width: 720px ){

  #plant_container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: var(--padding);
    grid-row-gap: var(--padding-section);
    align-items: center;
  }

}
div.plant_image{
  /* background-color: var(--primary); */
  padding: var(--padding);
}
div.plant_image img{
  max-width:15vw;
}
@media screen and ( max-width: 720px ){
  div.plant_image{
    text-align:left;
    margin-top:var(--padding);
    padding:var(--padding) 0 var(--padding-lite) 0;
  }
  div.plant_image img{
    max-width:30vw;
  }
}
div.plant_info{
}
div.plant_info h3{
  padding-bottom: var(--padding-lite);
}
div.plant_info h3 span.scientific{
  font-family: Georgia, serif;
  font-weight:normal;
  font-style: italic;
  opacity: 0.7;
  margin-left: var(--padding-lite);
}
div.plant_info p{
  font-weight:normal;
  font-size:0.9em;
}


@media screen and ( min-width: 800px ){
  footer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: calc( var(--padding-lite) * 2);
    padding-bottom: calc( var(--padding-lite) * 6);
  }
}
@media screen and ( max-width: 800px ){

}
footer{

}

footer h4{
  opacity: 0.7;
}

footer ul.clean{
  list-style:none;
}
